figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


.blankbox {
    background: $theme-color;
}
.img_row {
    // height: $img-height;
    width: 100%;
    overflow: hidden;
    box-sizing:border-box;
    text-align: center;
}
.col {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img-spacing;
}
.one {
    width:10%;
}

.two {
    width: 20%;
}

.three {
    width: 30%;
}

.four {
    width: 40%;
}

.five {
    width: 50%;
}

.six {
    width: 60%;
}

.seven {
    width: 70%;
}

.eight {
    width: 80%;
}

.nine {
    width: 90%;
}

.ten {
    width: 100%;
}


.caption {
    height: 100%;
    color: $caption-color;
    text-align: center;
    vertical-align: middle;
    font-size: $caption-font-size;
}
